# FRONTEND (Vercel)
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_ML_API_URL=https://alimusarizvi-ddos-preventor.hf.space
VITE_SOCKET_URL=https://your-backend-on-railway.up.railway.app

# BACKEND (Railway)
ALLOWED_ORIGIN=https://your-frontend-on-vercel.vercel.app
PORT=3000
SERVE_FRONTEND=false
